2_makeApp/jenkins/.password
2_makeApp/jenkins/jenkins_home 
3_containerDeploy/swarm-hello/registry-data
3_containerDeploy/swarm-hello/tododb
3_containerDeploy/swarm-hello/todoapi
3_containerDeploy/swarm-hello/todonginx
